@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --clr-primary: hsl(243, 87%, 12%);
  --clr-secondary: hsl(238, 22%, 44%);

  --clr-accent-blue: hsl(224, 93%, 58%);
  --clr-accent-light-blue: hsl(224, 93%, 68%);
  --clr-accent-cyan: hsl(170, 45%, 43%);

  --clr-neutral-blue-1: hsl(240, 75%, 98%);
  --clr-neutral-blue-2: hsl(0, 0%, 75%);
  --clr-transparent-white: hsla(0, 0%, 100%, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--clr-primary);
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: 0;
}

img {
  display: block;
  width: 100%;
}

/* UTILITIES */

.container {
  width: min(1200px, 90vw);
  margin: 0 auto;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.btn {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 0.75rem 2rem 0.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  background-color: var(--clr-accent-blue);
}

.btn:hover {
  background-color: var(--clr-accent-light-blue);
}

/* EMAIL */
input[type='email'] {
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  border-radius: 3px;
  border: 1px solid var(--clr-primary);
  padding: 0.75rem 1rem 0.75rem;
  width: 100%;
}

input[type='email']:focus {
  outline: 1px solid var(--clr-primary);
}

input[type='email']:not(:placeholder-shown) + label {
  opacity: 0;
}

input[type='email']:invalid:focus {
  outline: none;
  border: 1px solid #ff0033;
}

input[type='email']:invalid:focus ~ .requirements {
  visibility: visible;
}

.intro-email,
.action-email {
  position: relative;
}

.intro-email label,
.action-email label {
  font-family: 'Raleway', sans-serif;
  opacity: 0.3;
  position: absolute;
  top: 0.55rem;
  left: 1rem;
}

.intro-email .requirements,
.action-email .requirements {
  font-size: 0.825rem;
  visibility: hidden;
}

.intro-email .requirements {
  color: #ff0033;
}

.action-email .requirements {
  color: var(--clr-transparent-white);
}

/* HEADER */
header {
  padding-top: 5rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  color: var(--clr-primary);
}

/* INTRO */
.intro {
  padding: 4rem 0 8rem;
}

.intro__text {
  width: 100%;
}

.intro__text h1 {
  font-size: 2.5rem;
}

.intro__text p {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.intro-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 4rem;
}

.intro-email {
  width: 100%;
}
.intro-form .btn {
  width: 280px;
  margin-left: 1rem;
}

.intro__figure {
  width: 100%;
}

/* PRODUCTIVE */
.productive {
  background-color: var(--clr-neutral-blue-1);
  padding: 6rem 0;
}

.productive__text {
  width: 120%;
}

.productive__text h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.productive__text > p {
  max-width: 540px;
  margin-bottom: 1em;
}

.productive__link a {
  display: inline-block;
  color: var(--clr-accent-cyan);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--clr-accent-cyan);
}

.arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('images/icon-arrow.svg');
  vertical-align: middle;
}

.card {
  max-width: 340px;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 5px var(--clr-neutral-blue-2);
  background-color: white;
}

.card .quote {
  width: 16px;
  height: auto;
}

.card .content {
  margin-top: 1em;
  font-size: 0.825rem;
}

.card__info {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.card__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.card__profile {
  margin-left: 0.5rem;
}

.card__profile .name {
  font-size: 0.725rem;
  font-weight: 700;
}

.card__profile .title {
  font-size: 0.625rem;
}

/* EARLY ACCESS */
.early-access {
  padding: 6rem 0 4rem;
  background-color: var(--clr-secondary);
}

.early-access__text p {
  max-width: 510px;
  color: var(--clr-transparent-white);
}

.early-access__text h2 {
  color: var(--clr-neutral-blue-1);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.action-form {
  width: 500px;
}

.action-form .btn {
  margin-top: 0.5rem;
}

/* FOOTER */
footer {
  background-color: var(--clr-primary);
  padding: 5rem 0 4rem;
}

.footer__logo {
  width: 250px;
}

.footer__info {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--clr-transparent-white);
}

.contact__icon {
  margin-right: 1rem;
}

.footer__links li {
  margin-bottom: 1rem;
}

.footer__links a {
  color: var(--clr-transparent-white);
}

.socials {
  display: flex;
  align-items: center;
}

.circle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--clr-transparent-white);
  display: grid;
  place-items: center;
  margin-left: 1rem;
}

.circle:hover {
  border: 1px solid var(--clr-accent-light-blue);
  color: var(--clr-accent-light-blue);
}

@media (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  /* HEADER */
  header {
    padding-top: 3rem;
  }

  .header__logo {
    width: 25vw;
  }

  .navbar li {
    margin-left: 1rem;
  }

  /* INTRO */
  .intro .container {
    flex-direction: column-reverse;
  }

  .intro__text h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 1.625rem;
  }

  .intro__text p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2em;
  }

  .intro-form {
    flex-direction: column;
    padding: 0 1.25rem;
  }

  .intro-form .btn {
    width: 100%;
    margin-left: 0;
  }

  /* PRODUCTIVE */
  .productive {
    padding: 3rem 0 5rem;
  }

  .productive .container {
    flex-direction: column-reverse;
  }

  .productive__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productive__text h1 {
    font-size: 1rem;
    margin-top: 5rem;
  }

  .productive__text > p {
    color: var(--clr-secondary);
    font-size: 0.925rem;
    margin-bottom: 1em;
  }

  .productive__link {
    padding-top: 2rem;
  }

  .card {
    max-width: 80vw;
    padding: 1.5rem 1rem 1.5rem 1.5rem;
  }

  .card .content {
    margin-top: 1em;
    font-size: 0.725rem;
  }

  /* EARLY ACCESS */
  .early-access .container {
    flex-direction: column;
    text-align: center;
  }

  .early-access {
    padding: 3rem 0 5rem;
  }

  .early-access__text p {
    padding: 0 1.75rem;
    margin-bottom: 2rem;
  }

  .early-access__text h2 {
    font-size: 1.125rem;
  }

  .action-form {
    width: 100%;
    max-width: 450px;
    padding: 0 3.5rem;
  }
  
  .action-form .btn {
    width: 100%;
  }

  /* FOOTER */
  .footer__logo {
    width: 180px;
  }

  .footer__info {
    margin-top: 2rem;
    flex-direction: column;
  }

  .contact {
    margin-bottom: 2rem;
  }

  .footer__links {
    margin-bottom: 2rem;
  }

  .socials {
    align-self: center;
  }
}
